html {
  background-color: rgb(255, 255, 255);
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: azure;
  padding: 0 80px 50px 100px;
  border: 10px solid aquamarine;
}

header,
nav {
  text-align: center;
  background: azure;
  margin: 3px;
  padding: 5px;
}

nav a {
  text-decoration: none;
  background: aquamarine;
  border-radius: 5px;
  color: black;
  padding: 3px 8px;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: aqua;
  text-shadow: 1px 1px 1px black;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  padding: 20px 0;
  background-color: aquamarine;
}

p,
li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}

i {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.informacao {
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  font-size: 15px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem {
  font-size: 10px;
  height: 2em;
  display: flex;
  align-items: left;
  justify-content: center;
}

.menu li {
  display: inline-block;
  margin: 2px;
  justify-content: center;
  background: aquamarine;
  border-radius: 20px;
}

.menu li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  text-transform: inherit;
  background-color: aquamarine;
  padding: 5px;
}
